<% @title = 'Fake Email' %>

<div class="form login email">

  <div class="art"></div>

  <div class="form-container">
    <div class="logo-img">
      <i class="fas fa-bread-slice"></i>
    </div>

    <h1>Welcome to Breddit: a Reddit clone, <%= @user.username %>!</h1>

    <p>Before you can use this site, you must activate your account. <%= link_to "Activate Now!", @url %></p>

    <p>Thanks for joining. Have fun and be safe!</p>

    <p>- The Breddit Team</p>

    <div class="notice">
      <p>
        It is a bad idea to activate accounts this way. Always send this link in a text or email.
        We are showing this message here due to Heroku deployment compatibility.
      </p>
    </div>
  </div>
</div>
