<% @title = @user.username %>

<h1><%= @user.username %> Profile</h1>

<%= render 'shared/errors' %>

<% if current_user == @user %>
    <button id="delete_user">Delete Account</button>

    <%= render "confirm_delete", user: @user %>
<% end %>

<%= javascript_include_tag 'components/modal' %>