$light-orange: rgb(255, 106, 50);
$orange: rgb(255, 69, 0);

$light-red: #ffabab;
$red: #ff4500;
$dark-red: #b31111;

$light-black: rgb(43, 43, 43);
$black: rgb(34, 34, 34);

$dirty-white: rgb(248, 249, 250);

$light-grey: rgb(237, 239, 241);
$med-grey: rgb(192, 192, 192);
$data-grey: rgb(135, 138, 140);
$text-grey: rgb(120, 124, 126);


$grey-blue: rgb(218, 224, 230);
$lightest-blue: #e1f1ff;
$light-blue: rgb(50, 147, 219);
$blue: rgb(0, 121, 211);
$dark-blue: #0b5796;