.form {
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    padding: 64px 24px;
}

.form .logo-img {
    width: 40px;
    height: 40px;
    margin: 32px auto;
    display: block;
}

.form .logo-img i {
    padding: 12px 0;
}

.form h1 {
    font-weight: 500;
}

.form form {
    margin-top: 32px;
}

.form form div {
    position: relative;
}

.form input {
    text-align: left;
    width: 100%;
    padding: 10px 24px;
}

.form input[type="password"] {
    border-top: 1px solid $grey-blue;
    border-bottom: 1px solid $grey-blue;
}

.form input[type="text"] {
    border-top: 1px solid $grey-blue;
}

.form input[type="text"]:disabled {
    color: $data-grey;
}

.form input[type="text"]:disabled:hover {
    background-color: #fff;
}

.form input[type="password"]:hover, .form input[type="text"]:hover {
    background-color: $dirty-white;
}

.form input[type="submit"] {
    background-color: $blue;
    color: #fff;
    text-align: center;
    margin-top: 32px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5px;
}

.form input[type="submit"]:hover {
    background-color: $light-blue;
}

.form a {
    font-size: 16px;
}

.form label {
    display: none;
    position: absolute;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 0.5px;
    top: 0;
    left: 10px;
}

.form textarea {
    width: 100%;
    height: 200px;
    text-align: left;
    padding: 10px;
    margin-bottom: 16px;
    background-color: #fff;
    border-left: 1px solid $light-grey;
    border-right: 1px solid $light-grey;
}

.form textarea:hover, .form textarea:focus {
    border-top: 1px solid $blue;
    border-color: $blue;
}

input[type="checkbox"] {
    cursor: pointer;
}

@media all and (min-width: 500px) {
    .form form {
        width: 85%;
        margin: 32px auto;
    }
}

@media all and (min-width: 750px) {
    .form {
        width: 650px;
        height: auto;
        padding: 24px 24px 64px 24px;
        border-radius: 4px;
        text-align: left;
        margin: 5% auto;
        position: relative;
    }

    .form .logo-img {
        margin: 32px 0;
    }

    .form form {
        margin: 32px 0;
        width: 390px;
    }

    .form input[type="submit"] {
        width: 120px;
        border-radius: 4px;
        font-size: 14px;
    }

    .form input[type="password"], .form input[type="text"] {
        border: 1px solid $light-grey;
        background-color: $dirty-white;
        border-radius: 4px;
        font-size: 14px;
        padding: 16px 10px 2px 10px;
    }

    .form input[type="text"] {
        margin-bottom: 32px;
    }

    .form input[type="password"]:hover, .form input[type="text"]:hover,
    .form input[type="password"]:focus, .form input[type="text"]:focus {
        background-color: #fff;
    }

    .form label {
        display: block;
    }

    .form input::placeholder, .form textarea::placeholder {
        color: transparent;
    }

    .form input[type="text"]:disabled:hover {
        background-color: $dirty-white;
    }

    .form textarea {
        border: 1px solid $light-grey;
        border-radius: 4px;
        padding-top: 24px;
    }
}