html,
body,
header,
nav,
main,
div,
section,
article,
ul,
li,
input,
button,
a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
em {
    border: none;
    outline: none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    font: inherit;
    color: inherit;
    box-sizing: inherit;
    text-decoration: inherit;
    text-align: inherit;
}