<% subs.each do |sub| %>
    <% member_count = sub.subscriptions.count %>
    <div>
        <%= link_to "sub/#{sub.title}", sub_url(sub) %> 
        <span class="data">• <%= member_count %> member<%= member_count == 1 ? "" : "s" %></span>
        <p><%= sub.excerpt %></p>
    </div>
<% end %>