<% @title = "All Subs" %>

<div class="sub bottom-padding">
    <div class="heading">
        <h1>All Subs</h1>
        <% if current_user %>
            <%= link_to "Create SubBreddit", new_sub_url, class: "button" %>
        <% end %>
    </div>

    <% if @subs.empty? %>
        <p>No subs yet</p>
    <% else %>
        <div class="list">
            <%= render "list_all", subs: @subs %>
        </div>
    <% end %>
</div>