<% @title = "All Subs" %>

<h1>All Subs</h1>
<% if current_user %>
    <%= link_to "Add New Sub", new_sub_url %>
<% end %>

<% if @subs.empty? %>
    <p>No subs yet</p>
<% else %>
    <%= render "list_all", subs: @subs %>
<% end %>