<% @title = "New Sub" %>

<div class="login sub-page">
    <div class="logo-img">
      <i class="fas fa-bread-slice"></i>
    </div>
    
    <h1>New Sub</h1>

    <%= render "form", sub: @sub %>
</div>