<% @title = "Sub: #{@sub.title}" %>

<section class="sub-details">
    <h1>Sub: <%= @sub.title %></h1>
    <%= link_to @moderator.username, user_url(@moderator) %>
    <p><%= @sub.description %></p>
    <%= link_to "Edit Sub", edit_sub_url(@sub) %>
</section>

<section class="posts">
<!-- Add Posts here -->
</section>