<% posts.each do |post| %>
    <div>
        <%= link_to post.title, post_url(post) %>
        <%= link_to post.author.username, user_url(post.author) %>
        <%= choose_url_format(post) %>
        <%= post.excerpt %>
    </div>
<% end %>