<% @title = "Edit Post" %>

<div class="form post">
    <div class="logo-img">
      <i class="fas fa-bread-slice"></i>
    </div>

    <h1>Edit a Post</h1>

    <%= render "form", post: @post, subs: @subs %>
</div>