// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indent {
    margin-left: 15px;
}

// .comments > div {
//     margin-left: 0;
// }

.parent {
    border: 1px solid black;
}

.parent div:first-of-type {
    margin-left: 0;
}

.main-comment {
    background-color: #cccccc;
}

.blue {
    background-color: #e6f9ff;
}

.grey {
    background-color: #ececec;
}

.red {
    background-color: #ffcece;
}