.login {
    width: 100%;
    height: 100%;
    background-color: #fff;
    text-align: center;
    padding: 124px 24px;
}

.login .logo-img {
    width: 40px;
    height: 40px;
    margin: 32px auto;
    display: block;
}

.login .logo-img i {
    padding: 12px 0;
}

.login h1 {
    font-weight: 500;
}

.login form {
    margin-top: 32px;
}

.login form div {
    position: relative;
}

.login input[type="password"] {
    border-top: 1px solid $grey-blue;
    border-bottom: 1px solid $grey-blue;
}

.login input[type="text"] {
    border-top: 1px solid $grey-blue;
}

.login input {
    text-align: left;
    width: 100%;
    padding: 10px 24px;
}

.login input[type="password"]:hover, .login input[type="text"]:hover {
    background-color: $dirty-white;
}

.login input[type="submit"] {
    background-color: $blue;
    color: #fff;
    text-align: center;
    margin-top: 32px;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5px;
}

.login input[type="submit"]:hover {
    background-color: $light-blue;
}

.login a {
    font-size: 16px;
}

.login label {
    display: none;
    position: absolute;
    text-transform: uppercase;
    font-size: 10px;
    font-weight: 900;
    letter-spacing: 0.5px;
    top: 0;
    left: 10px;
}

.login .art {
    display: none;
}

@media all and (min-width: 500px) {
    .login form {
        width: 85%;
        margin: 32px auto;
    }
}

@media all and (min-width: 750px) {
    .login {
        width: 650px;
        height: auto;
        margin: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 24px 24px 64px 24px;
        border-radius: 4px;
        text-align: left;
    }

    .login .art {
        display: block;
        background-image: url("leaves_left_panel.jpg"); 
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 130px;
        border-radius: 4px 0 0 4px;
    }

    .login .form-container {
        margin-left: 130px;
    }

    .login .logo-img {
        margin: 32px 0;
    }

    .login form {
        margin: 32px 0;
        width: 390px;
    }

    .login input[type="submit"] {
        width: 120px;
        border-radius: 4px;
        font-size: 14px;
    }

    .login input[type="password"], .login input[type="text"] {
        border: 1px solid $light-grey;
        background-color: $dirty-white;
        border-radius: 4px;
        font-size: 14px;
        padding: 16px 10px 2px 10px;
    }

    .login input[type="text"] {
        margin-bottom: 32px;
    }

    .login input[type="password"]:hover, .login input[type="text"]:hover,
    .login input[type="password"]:focus, .login input[type="text"]:focus {
        background-color: #fff;
    }

    .login label {
        display: block;
    }

    .login input::placeholder {
        color: transparent;
    }
}