header {
    background-color: #fff;
    border-bottom: $light-grey;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 6px 18px;
}

.logo {
    display: inline-block;
    margin-right: 16px;
}

div.logo-img {
    display: inline-block;
    background-color: $red;
    border-radius: 50%;
    text-align: center;
    width: 32px;
    height: 32px;
}

.logo-img i {
    padding: 8px 0;
    color: #fff;
    font-size: 16px;
}

.logo span {
    vertical-align: bottom;
    bottom: 2px;
    position: relative;
    font-size: 22px;
    margin-left: 2px;
}

.sign-up, .log-in, .subs, .user-icon {
    display: none;
}

.mobile-right i, .user-icon i {
    color: $data-grey;
    font-size: 22px;
    display: inline-block;
    padding: 5px;
}

.mobile-right button:first-of-type {
    margin-right: 10px;
}

.mobile-right ul {
    width: auto;
    min-width: 150px;
    background-color: #fff;
    font-size: 16px;
    border: 1px solid $grey-blue;
    border-radius: 4px;
    position: absolute;
    top: 40px;
    right: 16px;
}

.mobile-right ul li a, .mobile-right form {
    padding: 8px 10px;
    display: block;
}

.mobile-right ul li {
    border-bottom: 1px solid $grey-blue;
}

.mobile-right ul li:last-of-type {
    border-bottom: none;
}

.mobile-right ul li a:hover, .mobile-right form:hover {
    background-color: $light-grey;
}

.search-form {
    width: 100%;
    position: absolute;
    left: 100%;
    top: 44px;
    transition: left 250ms;
}

.mobile-right .fa-user {
    font-size: 14px;
}

nav input[type="submit"] {
    width: 100%;
}

.slide-left {
    left: 0;
}

@media all and (min-width: 750px) {
    .mobile-right {
        display: none;
    }

    .sign-up, .log-in, .subs {
        display: inline-block;
        border-radius: 4px;
        text-transform: uppercase;
        font-weight: 900;
        font-size: 12px;
        text-align: center;
        letter-spacing: 0.5px;
        padding: 5px 0;
    }
    
    .log-in, .sign-up, nav input[type="submit"] {
        width: 120px;
    }
    
    .log-in {
        color: $blue;
        background-color: #fff;
        border: 1px solid $blue;
    }
    
    .log-in:hover {
        color: $light-blue;
        border: 1px solid $light-blue;
    }

    nav form, .user-icon {
        display: inline-block;
    }
    
    .sign-up {
        color: #fff;
        background-color: $blue;
        border: 1px solid $blue;
    }
    
    .sign-up:hover {
        background-color: $light-blue;
        border: 1px solid $light-blue;
    }
    
    .search-form {
        display: inline-block;
        position: relative;
        flex-grow: 0.3;
        width: auto;
        left: 0;
        top: 0;
    }
    
    .subs {
        width: 80px;
        background-color: $black;
        border: 1px solid $black;
        color: #fff;
    }
    
    .subs:hover {
        background-color: $light-black;
        border: 1px solid $light-black;
    }

    .user-icon {
        margin-right: 16px;
        vertical-align: bottom;
    }
}