#post_title {
    border-bottom: none;
}

.post {
    padding-top: 12px;
}

.post input[type="text"], .post textarea {
    border-bottom: 1px solid $light-grey;
}

.no-match {
    font-size: 12px;
    font-weight: 500;
    color: $red;
}

.sub-options input {
    display: inline-block;
    width: 80%;
    border: 1px solid $light-grey;
    border-radius: 4px 0 0 4px;
}

.sub-options button {
    display: inline-block;
    background-color: $blue;
    color: #fff;
    padding: 11px 16px;
    vertical-align: top;
    border-radius: 4px;
    border-radius: 0 4px 4px 0;
    margin-left: -6px;
}

.sub-options button:hover {
    background-color: $light-blue;
}

.selected-subs label {
    display: inline-block;
    position: relative;
    left: 0;
    top: 0;
}

.selected-subs input[type="checkbox"] {
    display: inline-block;
    width: auto;
}

.selected-subs label {
    cursor: pointer;
}

@media all and (min-width: 750px) {
    #post_title {
        border-bottom: 1px solid $light-grey;
    }

    .post {
        margin-top: 32px;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    .sub-options button {
        padding: 10px 16px;
    }
}