.sub-page {
    padding-top: 12px;
}

.sub-page input[type="text"], .sub-page textarea {
    border-bottom: 1px solid $light-grey;
}

@media all and (min-width: 750px) {
    .sub-page {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-top: 32px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}