.sub {
    padding-top: 12px;
}

.sub input[type="text"], .sub textarea {
    border-bottom: 1px solid $light-grey;
}

@media all and (min-width: 750px) {
    .sub {
        margin-top: 32px;
        padding-top: 16px;
        padding-bottom: 16px;
    }
}