.user-details {
    background-color: #fff;
    width: 100%;
    padding: 24px 24px 12px 24px;
}

.user-details::after {
    content: "";
    display: block;
    clear: both;
}

.user-details h2 {
    margin-bottom: 0;
}

.details {
    color: $text-grey;
    display: block;
    font-size: 14px;
    font-weight: 300;
    margin-bottom: 6px;
}

.details a {
    padding: 0 6px;
}

.details a::before {
    content: "•";
    padding-right: 3px;
    text-decoration: none;
    display: inline-block;
}

.delete-btn {
    background-color: #fff;
    color: $dark-red;
    border: 2px solid $dark-red;
    border-radius: 4px;
    padding: 5px 16px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    margin-top: 12px;
    float: right;
}

.delete-btn:hover {
    color: $red;
    border-color: $red;
}

.users .reply-btn {
    display: none;
}

.users .comments {
    width: 100%;
}

.stay {
    float: left;
    border: 2px solid $dark-blue;
    color: $dark-blue;
}

.stay:hover {
    border-color: $blue;
    color: $blue;
}

@media all and (max-width: 400px) {
    .modal .delete-btn, .stay {
        float: none;
        display: block;
        width: 100%;
    }
}